<html>
  <head>
    <title> </title>

    <style>
      body {
        background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR_TTL3BWWfoVd_ygN8UoY2NBSOfqJY1T0zaeWLyFK3AdFkb6q3");
        background-repeat: no-repeat;
        background-position: center;
        height: 90%;
        background-size: cover;
      }

      .output{
        text-align:center;
        margin-top:80px;
      }
      h1{
        text-align:center;
         margin-top:60px;
      }
    </style>
  </head>

  <body>
    <h1>NutriGem</h1>
    <div class="output">
      <br>

        <h2><b>{{ prediction_text }}</b></h2>
    </div>
  </body>
</html>
